:root {
  --primary-color: #2c365e;
  --secondary-color: #c8cde5;
  --background-color: #fcf0f2;
}

h1,
h2,
p {
  color: var(--primary-color);
}

a {
  background: var(--background-color);
  padding: 10px 20px;
  border: 2px solid var(--background-color);
  border-radius: 6px;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

/* .links {
  padding: 20px;
} */

.background {
  background-image: url("/images/paris.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
}

.content {
  margin: auto;
  max-width: 800px;
  text-align: center;
  background: white;
  border-radius: 10px;
  padding: 60px 60px;
}

.croissant-img {
  max-height: 50vh;
}
